


<form action="/users/manage/{{venue_user.id}}" method='post'>
  First name:<br>
  <input type="text" name="firstname" class="firstname" value="{{venue_user.firstname}}"><br>
  email:<br>
  <input type="text" name="lastname" class="lastname" value="{{venue_user.lastname}}"><br><br>
  <input type="submit" value="Submit">
</form>
